.github
Demo
Src
Tests
node_modules
.gitignore
.node-version
jest.setup.js
.npmignore
package.json
package-lock.json
README.md
tsconfig.json
webpack.config.js
Dist/*
Dist/.*
!Dist/Bundle.js
!Dist/QuickMPC.d.ts